.btn-add {
    color: aliceblue;
    background-color: #FF73AB;
    border-color: #870047;
    width: 100%;
    margin-left: 2%;
}

.input-text {
    border-color: #870047;
    width: 20px;
    margin-left: 2%;
}
