.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.image { width: 18em; }

.image img {
    width: 100%;
    height: 100%;
}

.form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.form-group label { font-size: 20px; }

.form-group input {
    min-width: 18em;
    height: 37px;
    padding: 0 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #FF73AB;
    border: 0;
    border-radius: 4px;
    margin-bottom: 18px;
}

.form-group input:focus {
    outline: none;
    background-color: #FF73AB;
    box-shadow: 0 0 12px 0.8px #FF73AB;
}

.button {
    background-color: #FF408D;
    color: aliceblue;
    margin-top: 6px;
    width: 18em;
    height: 37px;
    font-size: 16px;
}

.button:hover { background-color: #FF0067; }
